.content {
	margin-top: 50px;
	.cont {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 15px;
		border: 2px solid;
		border-radius: 15px;
		margin-right: 400px;
		margin-left: 400px;
		// width: 400px;
		height: 500px;
		@media (max-width: 400px) {
			width: 100%;
			flex-wrap: wrap;
		}
		&:hover {
			transform: translateX(-0.5em) translateY(-0.5em);
			border: 1px solid #171717;
			box-shadow: 10px 10px 0px #666666;

			background: red;
		}
		.classp {
			font-size: 40px;
		}
		input {
			width: 250px;
			height: 30px;
			border-radius: 2px;
			&:hover {
				transform: translateX(-0.5em) translateY(-0.5em);
				border: 1px solid #171717;
				box-shadow: 10px 10px 0px #666666;
			}
			@media (max-width: 300px) {
				width: 50%;
				// flex-wrap: wrap;
			}
		}
		button {
			background-color: rgb(58, 58, 173);
			width: 250px;
			height: 30px;
			&:hover {
				transform: translateX(-0.5em) translateY(-0.5em);
				border: 1px solid #171717;
				box-shadow: 10px 10px 0px #666666;
			}
		}
		.imgcontent {
			display: flex;
			margin-top: 30px;
			gap: 10px;
			img {
				width: 30px;
			}
			p {
				margin-top: 5px;
			}
		}
	}
}
